body,
td,
th {
	/*font-family: Courier New, Courier, monospace; */
	font-family: sans-serif, Roman, serif;
	font-size: 12px;
}

pre {
	font-family: sans-serif, Roman, serif;
	clear: both;
	margin: 0px auto 0px;
	padding: 0px;
	white-space: pre-wrap;
	/* Since CSS 2.1 */
	white-space: -moz-pre-wrap;
	/* Mozilla, since 1999 */
	white-space: -pre-wrap;
	/* Opera 4-6 */
	white-space: -o-pre-wrap;
	/* Opera 7 */
	word-wrap: break-word;

}

body {
	margin: 0px auto 0px;
	padding: 2px;
	font-size: 8px;
	color: #000;
	width: 98%;
	background-position: top;
	background-color: #fff;
}

.table-list {
	clear: both;
	text-align: left;
	border-collapse: collapse;
	margin: 0px 0px 10px 0px;
	background: #fff;
}

.table-list td {
	color: #333;
	font-size: 12px;
	border-color: #fff;
	border-collapse: collapse;
	vertical-align: center;
	padding: 3px 5px;
	border-bottom: 1px #000000 solid;
	border-left: 1px #000000 solid;
	border-right: 1px #000000 solid;


}

.table-list1 {
	clear: both;
	text-align: left;
	border-collapse: collapse;
	margin: 0px 0px 5px 0px;
	background: #fff;
}

.table-list1 td {
	color: #333;
	font-size: 11px;
	border-color: #fff;
	border-collapse: collapse;
	vertical-align: center;
	padding: 1px 3px;
	border-bottom: 1px #000000 solid;
	border-top: 1px #000000 solid;
	border-left: 1px #000000 solid;
	border-right: 1px #000000 solid;


}

#nocetak {
	display: none;
}

@page {
	size: F4;
	margin: 15px 15px 15px 15px;
	font-size: 8pt !important;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	size: landscape;
}

@media print {
	@page {
		size: F4;
		margin: 15px 15px 15px 15px;
		size: landscape;
		font-size: 8pt !important;
	}

	html,
	body {
		width: 330mm;
		height: 210mm;
		background: #FFF;
		overflow: visible;
	}

	/* body {
            padding-top: 15mm;
        } */

	.table-ttd {
		border-collapse: collapse;
		width: 100%;
		font-size: 8pt !important;
	}

	.table-ttd tr,
	.table-ttd tr td {
		border: 0.5px solid black;
		padding: 4px;
		padding: 4px;
		font-size: 8pt !important;
	}
}

.table-ttd {
	border-collapse: collapse;
	width: 100%;
	font-size: 8pt !important;
}

.table-ttd tr,
.table-ttd tr td {
	border: 1px solid black;
	padding: 5px;
	padding: 5px;
	font-size: 8pt !important;
}

tr {
	/* page-break-before: always; */
	page-break-inside: avoid;
	font-size: 8pt !important;
}

.tablee td,
.tablee th {
	/* border: 1px solid black; */
	padding: 5px;
	font-size: 8pt !important;

}

.rotation {
	transform: rotate(-90deg);
	/* Legacy vendor prefixes that you probably don't need... */
	/* Safari */
	-webkit-transform: rotate(-90deg);
	/* Firefox */
	-moz-transform: rotate(-90deg);
	/* IE */
	-ms-transform: rotate(-90deg);
	/* Opera */
	-o-transform: rotate(-90deg);
	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

ul,
li {
	list-style-type: none;
	font-size: 8pt !important;
}

.tablee tr:nth-child(even) {
	background-color: #f2f2f2;
	font-size: 8pt !important;
}

.table-ttd thead tr td,
#tr-footer {
	font-weight: bold;
}

.tablee th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #4CAF50;
	color: white;
	font-size: 8pt !important;
}